# --- Rust / Cargo ---
# Mengabaikan folder kompilasi Rust (target) di semua level subfolder
**/target/
Cargo.lock

# --- Tauri 2.0 Mobile (Android & iOS) ---
# Mengabaikan folder 'gen' tempat Tauri menaruh file build Android/iOS otomatis
**/src-tauri/gen/
**/src-tauri/bin/

# --- Nix / Devenv ---
.devenv/
.envrc
.direnv/

# --- Node / Frontend Dependency & Build ---
node_modules/
dist/
dist-ssr/
.output/
.astro/
.tanstack/
.vinxi/
.nitro/
.wrangler/

# --- IDE & Editor Settings ---
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# --- OS-specific files ---
.DS_Store
Thumbs.db

# --- Environment & Logs ---
.env
*.local
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# --- Backup & Temp ---
**/*.rs.bk
*.pdb
**/mutants.out*/
todos.json
